.footer{
    text-align: center;
    background-color: black;
    color:white;
    position: absolute;
    // bottom: 0;
    width: 100%;
    i{
        font-size: 1.8rem;
        margin:10px;
    }
}